<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vitoria Restaurante</title>
    <script type="text/javascript" language="JavaScript" src="~/js/geoip.js">
    </script>
    <script type="text/javascript" src="~/js/sensor.js">
    </script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Style.css" />
        <link href="~/css/font.css" rel="stylesheet" type="text/css">
        <link href="~/css/font2.css" rel="stylesheet" type="=text/css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/boos.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
@inject UserManager<ApplicationUser> UserManager
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @if((@UserManager.GetUserName(User))!=null){
                    <li><a asp-area="" asp-controller="Home" asp-action="Restaurants">Restaurantes</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Cuisine">Cozinha</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Prices">Preços</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Location">Localização</a></li>
                    <li><a asp-area="" asp-controller="UnitResults" asp-action="Create">Opinião de restaurante</a></li>
                    }
                    <li><a asp-area="" asp-controller="UnitResults" asp-action="Index">Reviews</a></li>
                    

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Vitória Restaurante</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/bootstrap.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
