@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}


<div class="header-otherpage">
    <div class="fullbg">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="logo-otherpages">
                    Vitória <br /> Restaurante
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="page-name">
            <p class="author">Alterar senha</p>
        </div>
    </div>
</div>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">

    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label">Senha</label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label">Nova senha</label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Confirmar nova senha</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Alterar senha</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
