@{
    ViewData["Title"] = "Cusine";
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/Style.css">
<link href="/css/font.css" rel="stylesheet" type="text/css">
<link href="/css/font2.css" rel="stylesheet" type="=text/css">
<div class="header-otherpage">
    <div class="fullbg">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="logo-otherpages">
                    Vitória <br /> Restaurante
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="page-name">
            <p class="author">Cozinha</p>
        </div>
    </div>
</div>

<div class="below-header">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="welcome">
                <p class="header-text">Os gostos do mundo</p>
                <p class="text">
                    Se você está fora dos gostos do Mediterrâneo ou de algumas delícias orientais, a Vitória tem os restaurantes para você.

                </p>
                <p class="text">
                    Confira o que está sendo oferecido, selecionando uma cozinha no menu abaixo.
                </p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="side-img-left-altpage">
            </div>
        </div>
        <div class="col-md-2">
            <div class="side-img-right-altpage">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="restaurant-review">
    <div class="row">
        <div class="col-md-9">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Japonês</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="restaurant-panel-body">
                                    <div class="col-md-3">
                                        <img src="~/images/location/is_logo.png" />
                                    </div>
                                    <div class="col-md-9">
                                        <p class="restaurant-header-text">
                                            Kojó
                                        </p>
                                        <p class="restaurant-text">
                                            "Restaurante Kojó é conhecido em diversos estados, e muitos clientes, quando de passagem por nossa região, fazem questão de incluírem o Restaurante Kojó em seu roteiro. A marca Kojó é uma referência gastronômica em nossa região. Diariamente, recebe clientes de Bandeirantes e outros estados de todo Brasil."<br /> <a class="click-here" href="http://www.restaurantekojo.com" target="_blank">Clique aqui</a> para Kojó website.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse4">Lanches</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row">
                                <div class="restaurant-panel-body">
                                    <div class="col-md-3">
                                        <img src="~/images/location/jamie_logo.png" />
                                    </div>
                                    <div class="col-md-9">
                                        <p class="restaurant-header-text">
                                            SUBWAY
                                        </p>
                                        <p class="restaurant-text">
                                            "Hoje, a marca SUBWAY® é a maior cadeia de sanduíches "submarinos" do mundo, com mais de 39 mil unidades em todo o mundo. Nós nos tornamos a principal opção para pessoas que procuram refeições rápidas e nutritivas, que toda a família pode apreciar.
                                            <br /> <a class="click-here" href="http://www.subway.com" target="_blank">Clique aqui</a> para SUBWAY website.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="restaurant-panel-body">
                                            <div class="col-md-3">
                                                <img src="~/images/location/jewel_logo.png" />
                                            </div>
                                            <div class="col-md-9">
                                                <p class="restaurant-header-text">
                                                    Sancre e Bete Sucos e Lanches
                                                </p>
                                                <p class="restaurant-text">
                                                    "Encontrar um equilíbrio entre pratos inspirados em receitas autênticas.
                                                    A cozinha clássica vê um seguimento leal dos habitantes locais, para uma
                                                    festa deliciosa."
                                                    <br /> <a class="click-here" href="https://www.facebook.com/Sancré-Lanches-639015866200013" target="_blank">Clique aqui</a> para o Sancre e Bete Sucos e Lanches paginá Facebook.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Porções</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="restaurant-panel-body">
                                    <div class="col-md-3">
                                        <img src="~/images/location/chairman_logo.png" />
                                    </div>
                                    <div class="col-md-9">
                                        <p class="restaurant-header-text">
                                            Açai Wave
                                        </p>
                                        <p class="restaurant-text">
                                            "Atualmente a nossa rede conta com lojas instaladas no sul do Estado de São Paulo e norte do Estado do Paraná, e continua atraindo novos investidores que procuram qualidade e a diversidade dos produtos apresentados pelo Açaí Wave. E assim, seguimos com a nossa metodologia de crescimento e transformando em realidade os sonhos individuais.
                                            <br /> <a class="click-here" href="http://acaiwave.com.br" target="_blank">Clique aqui</a> para Açai Wave.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="restaurant-panel-body">
                                    <div class="col-md-3">
                                        <img src="~/images/location/noodle_logo.png" />
                                    </div>
                                    <div class="col-md-9">
                                        <p class="restaurant-header-text">
                                            Mega Espeto
                                        </p>
                                        <p class="restaurant-text">
                                            "Pioneiro na área de carnes desde 1989 trabalhando com carnes nobres, vindo o ano de 2000 expandindo seus negócios na área de eventos, facilitando a vida do cliente, com uma linha prática e cômoda para seu evento. Trabalhando com uma gama com mais de 25 tipos de espetinhos. Paralelamente montamos toda uma estrutura voltada para grandes e pequenos eventos."
                                            <br /> <a class="click-here" href="https://www.megaespeto.com.br/" target="_blank">Clque aqui</a> para o Mega Espeto website.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">Caseiro</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="restaurant-panel-body">
                                    <div class="col-md-3">
                                        <img src="~/images/location/bluginger_logo.png" />
                                    </div>
                                    <div class="col-md-9">
                                        <p class="restaurant-header-text">
                                            Restaurante da Val
                                        </p>
                                        <p class="restaurant-text">
                                            "Comida caseira faz sucesso. Apostando em pratos preparados com temperos naturais, restaurante familiar"
                                            <br /> <a class="click-here" href="https://www.facebook.com/pages/Restaurante-da-Val/" target="_blank">Clique aqui</a> Para o Restaurante da Val paginá Facebook.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>