@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/Style.css">
<link href="/css/font.css" rel="stylesheet" type="text/css">
<link href="/css/font2.css" rel="stylesheet" type="=text/css">
<style>
    hr {
        margin-top: 20px;
        margin-bottom: 50%;
        border: 0;
        border-top: 1px solid #eee;
    }

    ._2pi8 {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 10em;
    }
</style>
<div class="header-otherpage">
    <div class="fullbg">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="logo-otherpages">
                    Vitória <br /> Restaurante
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="page-name">
            <p class="author">Opiniões</p>
        </div>
        <div id="fb-root"></div>
        <script>
(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11&appId=129804414456044';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-comments" data-href="https://www.facebook.com/HumorBarraPessada/" data-numposts="5"></div>
    </div>
</div>